.hungry{
    background-color: rgba(172, 32, 32, 0.589);
    border: 1px solid rgba(180, 19, 19, 0.534);
}

.full{
    background-color: rgba(69, 235, 69, 0.493);
    border: 1px solid rgba(83, 247, 83, 0.452);
}