<div class="zooContainer">
    
    <div class="animalContainer">
        <div [class.full]="a.isHungry===false" [class.hungry]="a.isHungry" *ngFor="let a of animals; let i=index"> <button class="deleteBtn" (click)="deleteMe(i)">delete</button> <br> <img src="{{a.imgUrl}}" class="animalImg"><button class="feedBtn" (click)="feedMe(i)">Feed</button></div>
    </div>
    
</div>

<br>

<h2>Here are all your hungry animals at the moment</h2>
<div>
    <ul>
        <ng-container *ngFor="let a of animals; let i=index">
            <div *ngIf="a.isHungry"> <img src="{{a.imgUrlHungry}}" class="animalImg"><button class="feedBtn" (click)="feedMe(i)">Feed</button> </div>
        </ng-container>
    </ul>
</div>