<div>
    <ul>
        <li [class.full]="a.isHungry===false" [class.hungry]="a.isHungry" *ngFor="let a of animals; let i=index"> <button
                (click)="deleteMe(i)">delete</button> {{a.type}}, aged {{a.age}} and ishungry = {{a.isHungry}} <button
                (click)="feedMe(i)">Feed</button></li>
    </ul>
</div>

<br>

<h2>Here are all your hungry animals at the moment</h2>
<div>
    <ul>
        <ng-container *ngFor="let a of animals">
            <li *ngIf="a.isHungry"> <h2> {{a.type}}</h2> <span>{{a.isHungry}}</span> </li>
        </ng-container>
    </ul>
</div>