
<header>
    <h1>Add an animal to your Zoo</h1>
</header>

<!-- 
<input type="text" placeholder="type of animal" #animalType>

<button (click)="addAnimal(animalType.value); animalType.value=''">save new animal</button> -->


<div class="animalSelectionContainer">

    <div (click)="addAnimal('tiger','../../../assets/img/tiger_happy.png','../../../assets/img/tiger_hungry.png')"><img src="../../../assets/img/tiger_happy.png" alt="happy tiger" width="60px"></div>
    <div (click)="addAnimal('lion','../../../assets/img/lion_happy.png','../../../assets/img/lion_hungry.png')"><img src="../../../assets/img/lion_happy.png" alt="happy tiger" width="60px"></div>
    <div (click)="addAnimal('dino','../../../assets/img/dino_happy.png','../../../assets/img/dino_hungry.png')"><img src="../../../assets/img/dino_happy.png" alt="happy tiger" width="60px"></div>
    <div (click)="addAnimal('panda','../../../assets/img/panda_happy.png','../../../assets/img/panda_hungry.png')"><img src="../../../assets/img/panda_happy.png" alt="happy tiger" width="60px"></div>
    <div (click)="addAnimal('giraff','../../../assets/img/giraff_happy.png','../../../assets/img/giraff_hungry.png')"><img src="../../../assets/img/giraff_happy.png" alt="happy tiger" width="60px"></div>
    <div (click)="addAnimal('monkey','../../../assets/img/monkey_happy.png','../../../assets/img/monkey_hungry.png')"><img src="../../../assets/img/monkey_happy.png" alt="happy tiger" width="60px"></div>
    
</div>

